.visu {
    background-color: #425F88;
    color: #FFFFFF;
    padding: 30px;
    font-size: 25px;
    border: none;
}

.menu {
    position: relative;
    display: inline-block;
    color: #FFFFFF;
    margin-left: 2px;
}

.drop{
    display: none;
    position: absolute;
    background-color: #425F88;
    min-width: 100px;
}

.menu:hover .drop{
    display: block;
}
